[Unit]
Description=Aptify
After=network.target

[Service]
User=aptify
Group=aptify
WorkingDirectory=/var/lib/aptify
ExecStart=/usr/bin/aptify serve
Environment="CONFIG_DIR=/var/lib/aptify/config"
Environment="REPOSITORY_DIR=/var/lib/aptify/repo"
Restart=on-failure
TimeoutStartSec=0
StartLimitInterval=60s
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
