Source: aptify
Section: golang
Priority: optional
Maintainer: Damian Peckett <damian@pecke.tt>
Uploaders: Damian Peckett <damian@pecke.tt>
Rules-Requires-Root: no
Build-Depends: debhelper-compat (= 13),
               dh-sequence-golang,
               golang-any,
               golang-github-adrg-xdg-dev,
               golang-github-dpeckett-archivefs-dev,
               golang-github-dpeckett-deb822-dev,
               golang-github-dpeckett-telemetry-dev,
               golang-github-dpeckett-uncompr-dev,
               golang-github-otiai10-copy-dev,
               golang-github-protonmail-go-crypto-dev,
               golang-github-urfave-cli-v2-dev,
               golang-gopkg-yaml.v3-dev
Testsuite: autopkgtest-pkg-go
Standards-Version: 4.6.2
Vcs-Browser: https://github.com/dpeckett/aptify
Vcs-Git: https://github.com/dpeckett/aptify.git
Homepage: https://github.com/dpeckett/aptify
XS-Go-Import-Path: github.com/dpeckett/aptify

Package: aptify
Section: utils
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Built-Using: ${misc:Built-Using}
Description: Probably the quickest, and easiest, way to create a Debian apt repository from a set of deb files. (program)